    body {
    background-color: #CFCFCF;
}
@media screen and (min-width: 800px){
    .container {
        width: 35%;
    }
}

/*login, register */

.container form .jumbotron {
    background-color: white;
}
.container form .jumbotron p a {
    color: #999999;
}