<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Almbont</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="https://downloader.disk.yandex.ru/preview/b050a8f56a8dc70cdec6fd5448860a0bbb3b1e8f89c4edb8a2a882f2310ed15f/5faea501/U7KTFhhfI6nzrASmuhkynQ56JzZK-Wxc8XwlFwPFmX0sCSgjxCy5nWGq8JjUbKDH_S9W7L9_Yu2sboZdHYtdww%3D%3D?uid=0&filename=logomin.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=2048x2048" />

</head>

<style>
    body {
    background-color: #CFCFCF;
}
@media screen and (min-width: 800px){
    .container {
        width: 35%;
    }
}

/*login, register */

.container form .jumbotron {
    background-color: white;
}
.container form .jumbotron p a {
    color: #999999;
}
</style>

<body>

<div class="container">
    <div class="text-center">
        <section class="text-center">
            <img src="https://downloader.disk.yandex.ru/preview/be833489122d08e6d1e11e458d0576a762d981307170d917395e7c5a2b94d8b1/5fae8487/AcoU_mWtUScr7qmezDWIfxdjCUtetRm4KmX4kUtHFkoyrWZEBL5fwcV5leJW8GuAHO65zxmcj1cYeABvLG-v3g%3D%3D?uid=0&filename=logo.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=2048x2048" alt="Что-то пошло не так!" width="80%" height="80%">
        </section>

        {% block content %}
        {% endblock %}

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html>