{% extends 'base_one.html' %}
{% load static %}
{% block content %}

        <div class="row">
            <div class="col-lg-6 my-4">
                <h2>Обо мне</h2>
                <p>Личность свою пока раскрывать не хочу, так как хочу, чтобы люди покупали одежду потому что она им правда нравится, а не потому что её создатель популярен где-либо.</p>
            </div>

            <div class="col-lg-6 my-4">
                <img src="{% static '/images/i.jpeg' %}" alt="Что-то пошло не так!" class="rounded-circle" width="70%">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 my-4">
                <h2>История</h2>
                <p>Albmont создан в Москве в марте 2019 года. До этого были мелкие проекты, которые я закрыл, потому что понял, что у них нет будущего. Я родился в Амурской области, а именно в городе Белогорск. Этот город и стал вдохновением для названия. Оно состоит из латинских слов alba montis (белая гора), что в сокращении и даёт Albmont.</p>
            </div>

            <div class="col-lg-6 my-4">
                <img src="{% static '/images/history.jpeg' %}" alt="Что-то пошло не так!" class="rounded" width="70%">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 my-4">
                <h2>Вдохновение</h2>
                <p>Могу вдохновится всем, что произведёт на меня впечатление и вызовет какие-либо чувства. Это может быть просто вечернее небо с переливами цветов, а может быть просто бетонная стена с пятнами. Также большое влияние оказывают на меня книги и фильмы.</p>
            </div>

            <div class="col-lg-6 my-4">
                <img src="{% static '/images/inspiration.jpg' %}" alt="Что-то пошло не так!" class="rounded" width="70%">
            </div>
        </div>


{% endblock %}