{% extends 'base_one.html' %}
{% block content %}

        <div class="row">
            <div class="col-lg-6 my-4">
                <h2>Обо мне</h2>
                <p>Личность свою пока раскрывать не хочу, так как хочу, чтобы люди покупали одежду потому что она им правда нравится, а не потому что её создатель популярен где-либо.</p>
            </div>

            <div class="col-lg-6 my-4">
                <img src="https://downloader.disk.yandex.ru/preview/12e4b7024439f117bd9e544626fcc9c0cc979a24f8d953a86653890c9fb23873/5faea539/zUgXhHnuUSFuR60SSg07qeDRqzGd870o6PcInVA1TrF2iTJ_oXQ8TpQwfaA-wePQHjFgxTkRVyltGsEy6Lbdig%3D%3D?uid=0&filename=i.jpeg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&tknv=v2&size=2048x2048" alt="Что-то пошло не так!" class="rounded-circle" width="70%">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 my-4">
                <h2>История</h2>
                <p>Albmont создан в Москве в марте 2019 года. До этого были мелкие проекты, которые я закрыл, потому что понял, что у них нет будущего. Я родился в Амурской области, а именно в городе Белогорск. Этот город и стал вдохновением для названия. Оно состоит из латинских слов alba montis (белая гора), что в сокращении и даёт Albmont.</p>
            </div>

            <div class="col-lg-6 my-4">
                <img src="https://downloader.disk.yandex.ru/preview/f1ecf58da4a9c3675388bad91f90d61840c2bae71060c4ca0a1b3e3ec20d2d3e/5faea55b/PV52bW-li8w5H42LX_4tXyCPGrFiG3WUfnHDJUHpcCZQIs6RH9Jb2SZ7jJhKiQ3Dn29tVtdw6vR9R0mxP6rBsg%3D%3D?uid=0&filename=history.jpeg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&tknv=v2&size=2048x2048" alt="Что-то пошло не так!" class="rounded" width="70%">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 my-4">
                <h2>Вдохновение</h2>
                <p>Могу вдохновится всем, что произведёт на меня впечатление и вызовет какие-либо чувства. Это может быть просто вечернее небо с переливами цветов, а может быть просто бетонная стена с пятнами. Также большое влияние оказывают на меня книги и фильмы.</p>
            </div>

            <div class="col-lg-6 my-4">
                <img src="https://downloader.disk.yandex.ru/preview/94efed736a60b89982a3c526775a75803ad2a954a70b79b29c2fbc12c2ac0fc8/5faea57d/0CLDM3gYll49v4lt1ZlUZeq9XHwyofNlecnf-UKt3lotY_9TYqm6ZdHYjawGkSrWEV1II0qwRooT1vo5FweUVw%3D%3D?uid=0&filename=inspiration.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&tknv=v2&size=2048x2048" alt="Что-то пошло не так!" class="rounded" width="70%">
            </div>
        </div>


{% endblock %}