{% extends 'base_one.html' %}
{% block content %}

        <div class="row">
            <div class="col-lg-6 my-4">
                <h2>Обо мне</h2>
                <p>Личность свою пока раскрывать не хочу, так как хочу, чтобы люди покупали одежду потому что она им правда нравится, а не потому что её создатель популярен где-либо.</p>
            </div>

            <div class="col-lg-6 my-4">
                <img src="https://2.downloader.disk.yandex.ru/preview/0b6299cc618e57b34e909c93b0b4c466cc07f626a301da714cdfb3a8c0917819/inf/zUgXhHnuUSFuR60SSg07qeDRqzGd870o6PcInVA1TrF2iTJ_oXQ8TpQwfaA-wePQHjFgxTkRVyltGsEy6Lbdig%3D%3D?uid=1195615986&filename=i.jpeg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1195615986&tknv=v2&size=1349x695" alt="Что-то пошло не так!" class="rounded-circle" width="70%">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 my-4">
                <h2>История</h2>
                <p>Albmont создан в Москве в марте 2019 года. До этого были мелкие проекты, которые я закрыл, потому что понял, что у них нет будущего. Я родился в Амурской области, а именно в городе Белогорск. Этот город и стал вдохновением для названия. Оно состоит из латинских слов alba montis (белая гора), что в сокращении и даёт Albmont.</p>
            </div>

            <div class="col-lg-6 my-4">
                <img src="https://3.downloader.disk.yandex.ru/preview/fb6976a4d7cc697d3d455705b072f275a64685544322c58030ebc1b34d65b601/inf/PV52bW-li8w5H42LX_4tXyCPGrFiG3WUfnHDJUHpcCZQIs6RH9Jb2SZ7jJhKiQ3Dn29tVtdw6vR9R0mxP6rBsg%3D%3D?uid=1195615986&filename=history.jpeg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1195615986&tknv=v2&size=1349x695" alt="Что-то пошло не так!" class="rounded" width="70%">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 my-4">
                <h2>Вдохновение</h2>
                <p>Могу вдохновится всем, что произведёт на меня впечатление и вызовет какие-либо чувства. Это может быть просто вечернее небо с переливами цветов, а может быть просто бетонная стена с пятнами. Также большое влияние оказывают на меня книги и фильмы.</p>
            </div>

            <div class="col-lg-6 my-4">
                <img src="https://4.downloader.disk.yandex.ru/preview/fbf564d5284a3bcce4c28d12bdb24f33ae2b8c5cf25077436206b16f0ffd9792/inf/0CLDM3gYll49v4lt1ZlUZeq9XHwyofNlecnf-UKt3lotY_9TYqm6ZdHYjawGkSrWEV1II0qwRooT1vo5FweUVw%3D%3D?uid=1195615986&filename=inspiration.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1195615986&tknv=v2&size=1349x695" alt="Что-то пошло не так!" class="rounded" width="70%">
            </div>
        </div>


{% endblock %}