{% extends 'base_one.html' %}
{% load crispy_forms_tags %}
{% block content %}

        <h3 class="text-center mt-3 mb-5">Оформление заказа</h3>

        <div class="table-responsive">
        <table class="table">
            <thead class="table-thead">
            <tr>
                <th>Наименование</th>
                <th>Изображение</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>Размер</th>
                <th >Общая цена</th>
            </tr>
            </thead>

            <tbody>
            {% for item in cart.products.all %}
                <tr>
                    <th scope="row">{{ item.content_object.title }}</th>
                    <td class="w-25">
                        {% for item in item.content_object.images.all %}
                            {% if forloop.counter == 1 %}
                                <img src="{{ item.images.url }}" class="img-fluid" alt="Что-то пошло не так!">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ item.content_object.price }} ₽</td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.size }}</td>
                    <td>{{ item.final_price }} ₽</td>
                </tr>
            {% endfor %}
            <tr>
                <td><strong>Итог: {{ cart.final_price }} <i class="fas fa-ruble-sign"></i></strong></td>
                <td colspan="5"></td>
            </tr>
            </tbody>

        </table>
        </div>

        <div class="jumbotron mt-5" id="form_checkout">

            <h3 class="text-center mt-5 mb-5">Форма заказа</h3>

            <form action="{% url 'make_order' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                {% if request.user.is_authenticated %}
                    <input type="submit" class="btn btn-secondary btn-block mb-3" value="Оформить заказ">
                {% endif %}
            </form>

        </div>

{% endblock %}